<footer class="bg-main-light py-5 mt-4">
    <div class="container">
      <h2 class="m-0 h4">Get The FreshCart App</h2>
      <p class="text-muted small">
        We Will Send You a Link, Open it on Your Phone to download the app
      </p>
  
      <!-- inputs design  -->
      <div class="d-flex align-items-center gap-3 text-nowrap">
        <input type="text" class="form-control" placeholder="Email" />
        <button class="btn-main">Share App Link</button>
      </div>
  
    
  
     
    </div>
  </footer>
  