<div class="container">
    <section class="mx-auto">

        <h1 class="text-center text-main my-3 mb-5" >Forget Password</h1>
        @if (step1) {
    
            <form [formGroup]="forgetForm" (ngSubmit)="forgetPassword()" class="bg-main-light shadow  rounded-4 p-3 ">
                <label for="email">Email</label>
                <input formControlName="email" type="email" class="form-control" id="email">
                <div class="text-center">        
                            <button class="btn-main w-25 mt-2  ">Forget Password </button>
                </div>
                @if (userMsg) {
                    <p  class="alert alert-danger w-50 mx-auto p-1 mb-0 mt-2">{{userMsg}}</p>
        
                }
            </form>
            }
            
           @if (step2) { 
            
            <form [formGroup]="resetCodeForm" (ngSubmit)="resetCode()"class="bg-main-light shadow  rounded-4 p-3">
                <label for="resetCode">Reset Code</label>
                <input formControlName="resetCode" type="text" class="form-control" id="resetCode">
                <div class="text-center">
                    <button class="btn-main w-25 mt-3">Reset Code</button>

                </div>
                @if (userMsg) {
                    <p  class="alert alert-danger w-50 mx-auto p-1 mb-0 mt-2 text-center">{{userMsg}}</p>
        
                }
            </form>
            }
            
              @if (step3) { 
                
                <form [formGroup]=" resetPassword" (ngSubmit)="newPassword()"class="bg-main-light shadow  rounded-4 p-3" >
                    <label for="newPassword">Reset Password</label>
                    <input formControlName="newPassword" type="password" class="form-control" id="newPassword">
<div class="text-center">
    <button class="btn-main w-25 mt-3">Reset Password</button>

</div>

        @if (userMsg) {        
                <p  class="alert alert-success w-50 mx-auto p-1 mb-0 mt-2 text-center">{{userMsg}}</p>
        }
                    @if ( resetPassword.get('newPassword')?.getError('pattern')) {
                     <p class="mb-0 alert alert-danger mt-2 w-50 text-center" >Password must be at least 6 characters</p>
                }
                </form>
                
            }
    </section>
</div>
